In [441]:
import pandas as pd
from nltk import word_tokenize

In [ ]:
you need three files in advance: 
"HS117_members.csv"
"congress_twitter_senate_117th.xlsx"
"congress_twitter_rep_117th.xlsx"

In [443]:
df_congress_117 = pd.read_csv("HS117_members.csv")
df_twitter_senate_117 = pd.read_excel("congress_twitter_senate_117th.xlsx")
df_twitter_rep_117 = pd.read_excel("congress_twitter_rep_117th.xlsx")
df_congress_117_tidy = df_congress_117[['chamber', 'bioname', 'nominate_dim1', 'party_code', 'state_abbrev']]
df_twitter_rep_117.columns =['Name', 'Twitter code', 'State', 'Party ID']
df_twitter_senate_117.columns =['Name', 'Twitter code', 'State', 'Party ID']
df_twitter_senate_117['chamber']= "Senate"
df_twitter_rep_117['chamber']= "House"
df_twitter_117 = pd.concat([df_twitter_rep_117, df_twitter_senate_117])
df_congress_117_tidy.columns = ['chamber', 'bioname', 'nominate_dim1', 'Party ID', 'State']
df_twitter_117['Name'] = df_twitter_117['Name'].astype(str)
df_twitter_117['Name'] = df_twitter_117['Name'].str.lower()
df_twitter_117['Name'] = df_twitter_117['Name'].str.replace(","," ")
df_twitter_117['Name']= df_twitter_117['Name'].apply(word_tokenize)

df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].astype(str)
df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].str.lower()
df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].str.replace(","," ")
df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].apply(word_tokenize)
Surname = []
for i in range(len(df_congress_117_tidy)):
    a = df_congress_117_tidy['bioname'][i]
    b = a[0]
    Surname.append(b)
df_congress_117_tidy['Surname'] = Surname
df_twitter_117 = df_twitter_117.reset_index(drop=True)
Surname = []
for i in range(len(df_twitter_117)):
    a = df_twitter_117['Name'][i]
    b = a[0]
    Surname.append(b)
df_twitter_117['Surname'] = Surname
updated = []
for i in range(len(df_congress_117_tidy)):
    a = df_congress_117_tidy['Party ID'][i]
    if a == 200:
        c = 'R'
    if a ==100:
        c = 'D'
    updated.append(c)
df_congress_117_tidy['Party ID'] = updated

/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].astype(str)
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].str.lower()
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].str.replace(","," ")
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['bioname'] = df_congress_117_tidy['bioname'].apply(word_tokenize)
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['Surname'] = Surname
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/1315093138.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_congress_117_tidy['Party ID'] = updated

In [444]:
merged_df_surname_117 = df_twitter_117.merge(df_congress_117_tidy, how = 'inner', on = ['Surname','Party ID', 'chamber', 'State'])
merged_result= merged_df_surname_117['Surname']

In [445]:
full_result = df_twitter_117['Surname']
missing_list = list(set(full_result) - set(merged_result))
missing_list

['wasserman',
 'gonzález-cólón',
 'king',
 'cardenas',
 'sanders',
 'rodgers',
 'veasey']

In [446]:
df_twitter_117 = df_twitter_117.sort_values('Surname')

In [447]:
df_congress_117_tidy = df_congress_117_tidy.sort_values('Surname')

In [448]:
df_twitter_117= df_twitter_117.reset_index(drop=True)
df_congress_117_tidy = df_congress_117_tidy.reset_index(drop=True)

In [449]:
merged_df_surname_117 = merged_df_surname_117[['Name','Twitter code','Party ID','chamber','nominate_dim1']]

In [450]:
#only issue was carolyn maloney and sean patrick maloneu, who both serve NY

In [451]:
merged_df_surname_117 = merged_df_surname_117.drop([251, 254])

In [452]:
a = pd.Series(['cárdenas tony','https://twitter.com/RepCardenas', 'D', 'House','-0.390'])
b = pd.Series(['gonzález-cólon jenniffer','https://twitter.com/RepJenniffer', 'R', 'House','0.270'])
c = pd.Series(['wasserman debbie','https://twitter.com/RepDWStweets', 'D', 'House','-0.420'])
d = pd.Series(['rodgers cathy','https://twitter.com/cathymcmorris', 'R', 'House','0.422'])
e = pd.Series(['veasey marc','https://twitter.com/RepVeasey', 'D', 'House','-0.403'])
df = pd.DataFrame([list(a), list(b), list(c), list(d), list(e)],  columns =  ['Name','Twitter code','Party ID','chamber','nominate_dim1'])
df['Name'] = df['Name'].apply(word_tokenize)

In [453]:
frames = [merged_df_surname_117, df]

merged_df_surname_117 = pd.concat(frames)

In [454]:
extras = ['cárdenas','gonzález-cólon','wasserman','rodgers','veasey', 'mcmorris']

In [455]:
twitter_result= df_twitter_117['Surname']

In [456]:
full_result = df_congress_117_tidy['Surname']
missing_list = list(set(full_result) - set(twitter_result))

In [457]:
no_twitter_IDs = list(set(missing_list) - set(extras))

In [458]:
no_twitter_IDs

['vela',
 'stivers',
 'deutch',
 'delgado',
 'loeffler',
 'fudge',
 'richmond',
 'walorski',
 'nunes',
 'sempolinski',
 'mceachin',
 'hagedorn',
 'hastings',
 'fortenberry',
 'crist',
 'wright',
 'haaland']

In [459]:
extra_twitter_ids = ['https://twitter.com/CharlieCrist','https://twitter.com/LtGovDelgado','https://twitter.com/RepTedDeutch','https://twitter.com/JeffFortenberry','https://twitter.com/SecFudge','https://twitter.com/SecDebHaaland',
'https://twitter.com/RepHagedorn','','https://twitter.com/KLoeffler','https://twitter.com/Donald_McEachin','','https://twitter.com/Richmond46','https://twitter.com/RepSempolinski','https://twitter.com/RepSteveStivers','https://twitter.com/RepFilemonVela',
'https://twitter.com/RepWalorski','https://twitter.com/RepRonWrigh']

In [460]:
df = []
for i in range(len(df_congress_117_tidy)):
    if df_congress_117_tidy['Surname'][i] in no_twitter_IDs:
        a = df_congress_117_tidy.iloc[i]
        df.append(a)

In [461]:
df = pd.DataFrame(df)

In [462]:
df['Twitter code'] = extra_twitter_ids

In [463]:
df = df.drop([215, 375])

In [464]:
df = df[['chamber', 'Twitter code', 'bioname', 'nominate_dim1', 'Party ID']]

In [465]:
df = df.rename(columns={'bioname': 'Name'})

In [466]:
df = df.drop([113,133,169,334])

In [467]:
a = pd.Series(['House','https://twitter.com/CharlieCrist','crist charlie','-0.227','D'])
b = pd.Series(['House','https://twitter.com/RepTedDeutch','deutch ted','-0.401','D'])
c = pd.Series(['House','https://twitter.com/SecFudge','fudge marcia','-0.581','D' ])
d = pd.Series(['House','https://twitter.com/Donald_McEachin','mceachin donald','-0.381','D'])
    
df1 = pd.DataFrame([list(a), list(b), list(c), list(d)], columns = ['chamber', 'Twitter code', 'Name', 'nominate_dim1', 'Party ID'])
df1['Name'] = df1['Name'].apply(word_tokenize)

In [468]:
frames = [df, df1]

df2 = pd.concat(frames)

In [469]:
frames = [merged_df_surname_117, df2]

merged_df_surname_117 = pd.concat(frames)

In [470]:
merged_df_surname_117= merged_df_surname_117.reset_index(drop=True)

In [471]:
Names = []
b = (".","'","`")
any(x in a for x in b)
for i in range(len(merged_df_surname_117)):
    a = merged_df_surname_117['Name'][i]
    data = []
    for n in a:
        if (any(x in n for x in b) == False) and (len(n)>1) and (n!= 'jr'): 
            data.append(n)
    Names.append(data)

In [472]:
#297 - ["o'halleran", 'tom']
#485 - ['manchin', 'joe']
#49- ['butterfield', 'g.k', 'george'] 
#389-['taylor', 'nicholas','van','campen']
#29- ['rochester', 'lisa', 'blunt'] - altered mid swap, but nom score matched correctly 
#80- ['connolly', 'gerald', 'gerry']       
#139- ['garcía', 'jesús', 'chuy']       
#159- ['greene', 'marjorie', 'taylor']
#172- ['beutler', 'jaime', 'herrera'] - altered mid swap, also was 'butler', but nom score matched correctly    
#187- ['lee','sheila', 'jackson'] - altered mid swap,but nom score matched correctly 
#195- ['johnson', 'eddie', 'bernice']       
#196 - ['johnson', 'henry', 'hank']       
#234-['fernandez', 'teresa','leger']    - altered mid swap,but nom score matched correctly 
#252- ['maloney', 'sean', 'patrick']       
#285- ['murphy', 'gregory', 'francis']       
#296- ['norton', 'eleanor', 'holmes']       
#345- ['salazar', 'maria', 'elvira'] 
#346-['nicolas', 'san', 'michael'] altered mid swap,but nom score matched correctly
#350- ['scanlon', 'mary', 'gay'] 
#407- ['drew', 'jefferson','van'] altered mid swap,but nom score matched correctly
#408- ['duyne', 'beth','van']  altered mid swap,but nom score matched correctly
    
#415- ['coleman','bonnie','watson'] altered mid swap,but nom score matched correctly
#444- ['capito', 'shelley', 'moore'] 
#452-['masto', 'catherine','cortez'] altered mid swap,but nom score matched correctly
#467-['hassan', 'margaret', 'maggie'] 
#483- ['luján', 'ben', 'ray'] 
#522-['hollen', 'chris','van']altered mid swap,but nom score matched correctly

In [473]:
Names[297] = ["o'halleran", 'tom']
Names[485]=  ['manchin', 'joe']
Names[49] =['butterfield', 'g.k', 'george'] 
Names[389]=['taylor', 'nicholas','van','campen']
Names[29] =['rochester', 'lisa', 'blunt'] 
Names[80] =['connolly', 'gerald', 'gerry']       
Names[139] =['garcía', 'jesús', 'chuy']       
Names[159] =['greene', 'marjorie', 'taylor']
Names[172] =['beutler', 'jaime', 'herrera']    
Names[187] =['lee','sheila', 'jackson'] 
Names[195] =['johnson', 'eddie', 'bernice']       
Names[196] = ['johnson', 'henry', 'hank']       
Names[234]=['fernandez', 'teresa','leger'] 
Names[252] =['maloney', 'sean', 'patrick']       
Names[285] =['murphy', 'gregory', 'francis']       
Names[296] =['norton', 'eleanor', 'holmes']       
Names[345] =['salazar', 'maria', 'elvira'] 
Names[346]=['nicolas', 'san', 'michael'] 
Names[350] =['scanlon', 'mary', 'gay'] 
Names[407] =['drew', 'jefferson','van'] 
Names[408] =['duyne', 'beth','van']    
Names[415] =['coleman','bonnie','watson'] 
Names[444] =['capito', 'shelley', 'moore'] 
Names[452]=['masto', 'catherine','cortez'] 
Names[467]=['hassan', 'margaret', 'maggie'] 
Names[483] =['luján', 'ben', 'ray'] 
Names[522]=['hollen', 'chris','van']

In [474]:
merged_df_surname_117['Names altered'] = Names

In [475]:
merged_df_surname_117.to_csv('congress117 twitter and ideology.csv', index=False)

In [476]:
twitter_accounts = pd.read_excel("accounts.xlsx")

In [477]:
twitter_accounts['CongressionalTwitter'] = twitter_accounts['CongressionalTwitter'].astype(str)
twitter_accounts['CongressionalTwitter'] = twitter_accounts['CongressionalTwitter'].str.replace("@","")
twitter_accounts['CongressionalTwitter'] = twitter_accounts['CongressionalTwitter'].str.replace(" ","")

twitter_accounts['Personal Twitter'] = twitter_accounts['Personal Twitter'].astype(str)
twitter_accounts['Personal Twitter'] = twitter_accounts['Personal Twitter'].str.replace("@","")
twitter_accounts['Personal Twitter'] = twitter_accounts['Personal Twitter'].str.replace(" ","")

twitter_accounts['RetiredTwitter'] = twitter_accounts['RetiredTwitter'].astype(str)
twitter_accounts['RetiredTwitter'] = twitter_accounts['RetiredTwitter'].str.replace("@","")
twitter_accounts['RetiredTwitter'] = twitter_accounts['RetiredTwitter'].str.replace(" ","")

twitter_accounts['Campaign Twitter'] = twitter_accounts['Campaign Twitter'].astype(str)
twitter_accounts['Campaign Twitter'] = twitter_accounts['Campaign Twitter'].str.replace("@","")
twitter_accounts['Campaign Twitter'] = twitter_accounts['Campaign Twitter'].str.replace(" ","")

twitter_accounts['PressOfficeTwitter'] = twitter_accounts['PressOfficeTwitter'].astype(str)
twitter_accounts['PressOfficeTwitter'] = twitter_accounts['PressOfficeTwitter'].str.replace("@","")
twitter_accounts['PressOfficeTwitter'] = twitter_accounts['PressOfficeTwitter'].str.replace(" ","")

merged_df_surname_117['Twitter code'] = merged_df_surname_117['Twitter code'].str.replace("https://twitter.com/","")
merged_df_surname_117['Twitter code'] = merged_df_surname_117['Twitter code'].str.replace(" ","")

/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/327993066.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  merged_df_surname_117['Twitter code'] = merged_df_surname_117['Twitter code'].str.replace("https://twitter.com/","")

In [478]:
twitter_accounts= twitter_accounts.reset_index(drop=True)
twitter_accounts = twitter_accounts.rename(columns={"Name": "Blake Name"})
twitter_accounts = twitter_accounts.rename(columns={"nominate_dim1": "Blake nominate_dim1"})

twitter_accounts['Blake Name'] = twitter_accounts['Blake Name'].str.lower()
twitter_accounts['Blake Name'] = twitter_accounts['Blake Name'].str.replace(",", " ")
twitter_accounts['Blake Name'] = twitter_accounts['Blake Name'].apply(word_tokenize)
twitter_accounts['Blake Name string'] = twitter_accounts['Blake Name'].astype(str)
merged_df_surname_117['Name string'] = merged_df_surname_117['Name'].astype(str)

names_match_df = merged_df_surname_117.merge(twitter_accounts, left_on='Name string', right_on = 'Blake Name string').reset_index(drop=True)

In [479]:
all_twitter_profiles_117 = (pd.concat([
merged_df_surname_117.merge(twitter_accounts, left_on='Twitter code', right_on='CongressionalTwitter'),
merged_df_surname_117.merge(twitter_accounts, left_on='Twitter code', right_on='Personal Twitter'),
merged_df_surname_117.merge(twitter_accounts, left_on='Twitter code', right_on='RetiredTwitter'),
merged_df_surname_117.merge(twitter_accounts, left_on='Twitter code', right_on='Campaign Twitter'),
merged_df_surname_117.merge(twitter_accounts, left_on='Twitter code', right_on='PressOfficeTwitter')
]).reset_index(drop=True))

twitter_profiles_117 = (pd.concat([all_twitter_profiles_117, names_match_df])).reset_index(drop=True)

unqique_twitter_profiles_117 = twitter_profiles_117.loc[twitter_profiles_117.astype(str).drop_duplicates().index]
unqique_twitter_profiles_117 = unqique_twitter_profiles_117.reset_index(drop=True)

In [480]:
matched_names = unqique_twitter_profiles_117['Name string']
names = merged_df_surname_117['Name string']  
unmatched_names = list(set(names) - set(matched_names))

In [481]:
matched_names = unqique_twitter_profiles_117['Blake Name string']
names = twitter_accounts['Blake Name string']
    
blake_missing_list = list(set(names) - set(matched_names))

In [482]:
for i in range(len(twitter_accounts)):
    if twitter_accounts['Blake Name string'][i] in blake_missing_list:
        print(twitter_accounts.iloc[i])

Current                                True
Blake Name                   [nunes, devin]
Gender                                    M
State                            California
District                                 22
Congress                              House
Party                                     R
CongressionalTwitter          RepDevinNunes
Personal Twitter                 DevinNunes
PressOfficeTwitter                      nan
Campaign Twitter                        nan
RetiredTwitter                          nan
Instagram                               NaN
Age                                    47.0
Birthdate               1973-10-01 00:00:00
Blake nominate_dim1                   0.449
nominate_dim2                         0.217
squad                                   NaN
freedom_caucus                          NaN
progressive_caucus                      NaN
rep_main_street                         NaN
liberty_caucus                          NaN
rep_study_comm                          NaN
blue_collar_caucus                      NaN
blue_dog_coalition                      NaN
new_dem_coalition                       NaN
Blake Name string        ['nunes', 'devin']
Name: 131, dtype: object
Current                                           False
Blake Name                      [hastings, alcee, l, .]
Gender                                                M
State                                           Florida
District                                             20
Congress                                          House
Party                                                 D
CongressionalTwitter                                nan
Personal Twitter                                    nan
PressOfficeTwitter                                  nan
Campaign Twitter                                    nan
RetiredTwitter                                      nan
Instagram                                           NaN
Age                                                84.0
Birthdate                           1936-09-05 00:00:00
Blake nominate_dim1                              -0.564
nominate_dim2                                     0.157
squad                                               NaN
freedom_caucus                                      NaN
progressive_caucus                                  NaN
rep_main_street                                     NaN
liberty_caucus                                      NaN
rep_study_comm                                      NaN
blue_collar_caucus                                  NaN
blue_dog_coalition                                  NaN
new_dem_coalition                                   NaN
Blake Name string       ['hastings', 'alcee', 'l', '.']
Name: 161, dtype: object
Current                                         False
Blake Name                      [fudge, marcia, l, .]
Gender                                              F
State                                            Ohio
District                                           11
Congress                                        House
Party                                               D
CongressionalTwitter                   RepMarciaFudge
Personal Twitter                              mlfudge
PressOfficeTwitter                                nan
Campaign Twitter                                  nan
RetiredTwitter                                    nan
Instagram                                         NaN
Age                                              68.0
Birthdate                         1952-10-29 00:00:00
Blake nominate_dim1                            -0.581
nominate_dim2                                    0.14
squad                                             NaN
freedom_caucus                                    NaN
progressive_caucus                                NaN
rep_main_street                                   NaN
liberty_caucus                                    NaN
rep_study_comm                                    NaN
blue_collar_caucus                                NaN
blue_dog_coalition                                NaN
new_dem_coalition                                 NaN
Blake Name string       ['fudge', 'marcia', 'l', '.']
Name: 171, dtype: object
Current                                True
Blake Name                      [reed, tom]
Gender                                    M
State                              New York
District                                 23
Congress                              House
Party                                     R
CongressionalTwitter        TomReedCongress
Personal Twitter                TomReedNY23
PressOfficeTwitter                      nan
Campaign Twitter                        nan
RetiredTwitter                          nan
Instagram                               NaN
Age                                    49.0
Birthdate               1971-11-18 00:00:00
Blake nominate_dim1                   0.276
nominate_dim2                         0.111
squad                                   NaN
freedom_caucus                          NaN
progressive_caucus                      NaN
rep_main_street                         NaN
liberty_caucus                          NaN
rep_study_comm                          1.0
blue_collar_caucus                      NaN
blue_dog_coalition                      NaN
new_dem_coalition                       NaN
Blake Name string           ['reed', 'tom']
Name: 202, dtype: object
Current                                True
Blake Name                     [young, don]
Gender                                    M
State                                Alaska
District                           At-Large
Congress                              House
Party                                     R
CongressionalTwitter            repdonyoung
Personal Twitter                        nan
PressOfficeTwitter                      nan
Campaign Twitter                 DonYoungAK
RetiredTwitter                          nan
Instagram                               NaN
Age                                    87.0
Birthdate               1933-06-09 00:00:00
Blake nominate_dim1                   0.284
nominate_dim2                         0.021
squad                                   NaN
freedom_caucus                          NaN
progressive_caucus                      NaN
rep_main_street                         1.0
liberty_caucus                          NaN
rep_study_comm                          NaN
blue_collar_caucus                      NaN
blue_dog_coalition                      NaN
new_dem_coalition                       NaN
Blake Name string          ['young', 'don']
Name: 256, dtype: object
Current                                True
Blake Name                    [king, angus]
Gender                                    M
State                                 Maine
District                                NaN
Congress                             Senate
Party                                     I
CongressionalTwitter           SenAngusKing
Personal Twitter              AngusforMaine
PressOfficeTwitter                      nan
Campaign Twitter                        nan
RetiredTwitter                          nan
Instagram                               NaN
Age                                    76.0
Birthdate               1944-03-31 00:00:00
Blake nominate_dim1                  -0.157
nominate_dim2                        -0.222
squad                                   NaN
freedom_caucus                          NaN
progressive_caucus                      NaN
rep_main_street                         NaN
liberty_caucus                          NaN
rep_study_comm                          NaN
blue_collar_caucus                      NaN
blue_dog_coalition                      NaN
new_dem_coalition                       NaN
Blake Name string         ['king', 'angus']
Name: 423, dtype: object
Current                                  True
Blake Name                  [sanders, bernie]
Gender                                      M
State                                 Vermont
District                                  NaN
Congress                               Senate
Party                                       I
CongressionalTwitter               SenSanders
Personal Twitter                BernieSanders
PressOfficeTwitter                        nan
Campaign Twitter                          nan
RetiredTwitter                            nan
Instagram                      @berniesanders
Age                                      79.0
Birthdate                 1941-09-08 00:00:00
Blake nominate_dim1                     -0.53
nominate_dim2                          -0.395
squad                                     NaN
freedom_caucus                            NaN
progressive_caucus                        NaN
rep_main_street                           NaN
liberty_caucus                            NaN
rep_study_comm                            NaN
blue_collar_caucus                        NaN
blue_dog_coalition                        NaN
new_dem_coalition                         NaN
Blake Name string       ['sanders', 'bernie']
Name: 493, dtype: object

In [483]:
unqique_twitter_profiles_117['delegate'] = 'False'
unqique_twitter_profiles_117['serving at time of tweet'] = 'True'
twitter_profiles_117_tidy = unqique_twitter_profiles_117[['Twitter code', 'Party ID', 'chamber', 'nominate_dim1','Names altered','CongressionalTwitter','Personal Twitter', 'PressOfficeTwitter', 'Campaign Twitter','RetiredTwitter', 'delegate', 'serving at time of tweet']]

In [484]:
for i in range(len(merged_df_surname_117)):
    if merged_df_surname_117['Name string'][i] in unmatched_names:
        print(merged_df_surname_117.iloc[i])

Name                 [cherfilus-mccormick, sheila]
Twitter code                       CongresswomanSC
Party ID                                         D
chamber                                      House
nominate_dim1                               -0.625
Names altered        [cherfilus-mccormick, sheila]
Name string      ['cherfilus-mccormick', 'sheila']
Name: 67, dtype: object
Name                 [conway, connie]
Twitter code          RepConnieConway
Party ID                            R
chamber                         House
nominate_dim1                   0.376
Names altered        [conway, connie]
Name string      ['conway', 'connie']
Name: 81, dtype: object
Name                 [finstad, brad]
Twitter code              repfinstad
Party ID                           R
chamber                        House
nominate_dim1                  0.542
Names altered        [finstad, brad]
Name string      ['finstad', 'brad']
Name: 121, dtype: object
Name                 [flood, mike]
Twitter code        USRepMikeFlood
Party ID                         R
chamber                      House
nominate_dim1                  0.5
Names altered        [flood, mike]
Name string      ['flood', 'mike']
Name: 127, dtype: object
Name                 [flores, mayra]
Twitter code          repmayraflores
Party ID                           R
chamber                        House
nominate_dim1                  0.336
Names altered        [flores, mayra]
Name string      ['flores', 'mayra']
Name: 128, dtype: object
Name                   [norton, eleanor, holmes]
Twitter code                       EleanorNorton
Party ID                                       D
chamber                                    House
nominate_dim1                             -0.496
Names altered          [norton, eleanor, holmes]
Name string      ['norton', 'eleanor', 'holmes']
Name: 296, dtype: object
Name                 [peltola, mary]
Twitter code             MaryPeltola
Party ID                           D
chamber                        House
nominate_dim1                 -0.152
Names altered        [peltola, mary]
Name string      ['peltola', 'mary']
Name: 310, dtype: object
Name                 [plaskett, stacey]
Twitter code             StaceyPlaskett
Party ID                              D
chamber                           House
nominate_dim1                     -0.41
Names altered        [plaskett, stacey]
Name string      ['plaskett', 'stacey']
Name: 318, dtype: object
Name                 [radewagen, amata]
Twitter code                   RepAmata
Party ID                              R
chamber                           House
nominate_dim1                     0.404
Names altered        [radewagen, amata]
Name string      ['radewagen', 'amata']
Name: 325, dtype: object
Name                 [ryan, pat]
Twitter code           PatRyanUC
Party ID                       D
chamber                    House
nominate_dim1             -0.212
Names altered        [ryan, pat]
Name string      ['ryan', 'pat']
Name: 342, dtype: object
Name                 [sablan, gregorio]
Twitter code              Kilili_Sablan
Party ID                              D
chamber                           House
nominate_dim1                    -0.454
Names altered        [sablan, gregorio]
Name string      ['sablan', 'gregorio']
Name: 344, dtype: object
Name                         [san, nicolas, michael, f., q, .]
Twitter code                                   GuamCongressman
Party ID                                                     D
chamber                                                  House
nominate_dim1                                            -0.41
Names altered                          [nicolas, san, michael]
Name string      ['san', 'nicolas', 'michael', 'f.', 'q', '.']
Name: 346, dtype: object
Name                 [yakym, rudy]
Twitter code             RudyYakym
Party ID                         R
chamber                      House
nominate_dim1                0.457
Names altered        [yakym, rudy]
Name string      ['yakym', 'rudy']
Name: 429, dtype: object
Name                 [gonzález-cólon, jenniffer]
Twitter code                        RepJenniffer
Party ID                                       R
chamber                                    House
nominate_dim1                              0.270
Names altered        [gonzález-cólon, jenniffer]
Name string      ['gonzález-cólon', 'jenniffer']
Name: 531, dtype: object
Name                 [loeffler, kelly]
Twitter code                 KLoeffler
Party ID                             R
chamber                         Senate
nominate_dim1                    0.555
Names altered        [loeffler, kelly]
Name string      ['loeffler', 'kelly']
Name: 539, dtype: object
Name                 [sempolinski, joseph]
Twitter code                RepSempolinski
Party ID                                 R
chamber                              House
nominate_dim1                        0.545
Names altered        [sempolinski, joseph]
Name string      ['sempolinski', 'joseph']
Name: 541, dtype: object
Name                 [fudge, marcia]
Twitter code                SecFudge
Party ID                           D
chamber                        House
nominate_dim1                 -0.581
Names altered        [fudge, marcia]
Name string      ['fudge', 'marcia']
Name: 548, dtype: object

In [485]:
#those in my dataset, that haven't been matched

a = pd.Series(['CongresswomanSC', 'D', 'House', '-0.625', 'cherfilus-mccormick sheila', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

b = pd.Series(['RepConnieConway', 'R', 'House', '0.376', 'conway connie', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

c = pd.Series(['repfinstad', 'R', 'House', '0.542', 'finstad brad', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

d = pd.Series(['USRepMikeFlood', 'R', 'House', '0.5', 'flood mike', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

e = pd.Series(['repmayraflores', 'R', 'House', '0.336', 'flores mayra', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

f = pd.Series(['EleanorNorton', 'D', 'House', '-0.496', 'norton eleanor holmes', 'nan', 'nan', 'nan', 'eleanor4dc', 'nan', 'True', 'True'])

g = pd.Series(['MaryPeltola', 'D', 'House', '-0.152', 'peltola mary', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

h = pd.Series(['StaceyPlaskett', 'D', 'House', '-0.41', 'plaskett, stacey', 'nan', 'nan', 'nan', 'nan', 'nan', 'True', 'True'])

i = pd.Series(['RepAmata', 'R', 'House', '0.404', 'radewagen amata', 'nan', 'nan', 'nan', 'nan', 'nan', 'True', 'True'])

j = pd.Series(['PatRyanUC', 'D', 'House', '-0.212', 'ryan pat', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

k = pd.Series(['Kilili_Sablan', 'D', 'House', '-0.454', 'sablan gregorio', 'nan', 'nan', 'nan', 'nan', 'nan', 'True', 'True'])

l = pd.Series(['GuamCongressman', 'D', 'House', '-0.41', 'nicolas san michael', 'nan', 'nan', 'nan', 'nan', 'nan', 'True', 'True'])

m = pd.Series(['RudyYakym', 'R', 'House', '0.457', 'yakym rudy', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

n = pd.Series(['RepJenniffer', 'R', 'House', '0.270', 'gonzález-cólon jenniffer', 'nan', 'Jenniffer', 'nan', 'JGO_2020', 'nan', 'False', 'True'])

o = pd.Series(['KLoeffler', 'R', 'Senate', '0.555', 'loeffler kelly', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

p = pd.Series(['RepSempolinski', 'R', 'House', '0.545', 'sempolinski joseph', 'nan', 'nan', 'nan', 'nan', 'nan', 'False', 'False'])

df1 = pd.DataFrame([list(a), list(b), list(c), list(d), list(e),list(f),list(g),list(h),list(i),list(j),list(k),list(l),list(m),list(n),list(o),list(p)], columns = ['Twitter code', 'Party ID', 'chamber', 'nominate_dim1','Names altered','CongressionalTwitter','Personal Twitter', 'PressOfficeTwitter', 'Campaign Twitter','RetiredTwitter', 'delegate', 'serving at time of tweet'])

df1['Names altered'] = df1['Names altered'].apply(word_tokenize)

In [486]:
#those in blake dataset, that haven't been matched

a = pd.Series(['SecFudge', 'D', 'House', '-0.581', 'fudge marcia', 'RepMarciaFudge', 'mlfudge', 'nan', 'nan', 'nan', 'False', 'True'])

b = pd.Series(['nan', 'R', 'House', '0.449', 'nunes devin', 'RepDevinNunes', 'DevinNunes', 'nan', 'nan', 'nan', 'False', 'True'])

c = pd.Series(['nan', 'D', 'House', '-0.564', 'hastings alcee', 'nan','nan','nan','nan','nan','False', 'True']) 

d = pd.Series(['nan', 'R', 'House', '0.276', 'reed tom','TomReedCongress','TomReedNY23','nan','nan','nan','False', 'True'])

e = pd.Series(['nan', 'R', 'House', '0.284', 'young don', 'repdonyoung','nan', 'nan', 'DonYoungAK', 'nan', 'False', 'True'])

f = pd.Series(['nan','D', 'nan','-0.32','biden joseph robinette', 'POTUS', 'JoeBiden', 'nan', 'nan', 'nan', 'False', 'True'])

g =pd.Series(['nan','R', 'nan','0.403','trump donald john', 'nan','realDonaldTrump', 'nan', 'nan', 'nan', 'False', 'True'])

h = pd.Series(['nan','D', 'Senate','-0.162', 'king angus stanley', 'SenAngusKing', 'AngusforMaine', 'nan', 'nan', 'nan', 'False', 'True'])

i = pd.Series(['nan','D', 'Senate','-0.538','sanders bernard', 'SenSanders', 'BernieSanders','nan', 'nan', 'nan', 'False', 'True'])


df2 = pd.DataFrame([list(a), list(b), list(c), list(d), list(e), list(f), list(g), list(h), list(i)], columns = ['Twitter code', 'Party ID', 'chamber', 'nominate_dim1','Names altered','CongressionalTwitter','Personal Twitter', 'PressOfficeTwitter', 'Campaign Twitter','RetiredTwitter', 'delegate', 'serving at time of tweet'])

df2['Names altered'] = df2['Names altered'].apply(word_tokenize)

In [487]:
frames = [twitter_profiles_117_tidy, df1,df2]
df_117 = pd.concat(frames)
df_117['independent'] = 'False'
df_117['president'] = 'False'

In [488]:
df_117 = df_117.reset_index(drop=True)

In [489]:
df_117['independent'][556] = 'True'
df_117['independent'][557] = 'True'
df_117['president'][555] = 'True'
df_117['president'][554] = 'True'

In [490]:
Names_chronological = []

for i in range(len(df_117)):
    l = []
    a = df_117['Names altered'][i][0]
    for n in range(len(df_117['Names altered'][i])):
        if n > 0:
            m = df_117['Names altered'][i][n]
            l.append(m)
    l.append(a)
    Names_chronological.append(l)
df_117['Name chronological'] = Names_chronological

In [491]:
capitalised = []
for i in range(len(df_117)):
    a = df_117['Name chronological'][i]
    b = []
    for n in range(len(a)):
        if a[n] != 'van':
            result = a[n].title()
        else:
            result = a[n]           
        b.append(result)
    capitalised.append(b)
        
df_117['Name chronological'] =  capitalised

In [492]:
df_117['Name chronological'] = df_117['Name chronological'].astype(str)
df_117['Name chronological'] = df_117['Name chronological'].str.replace("'","")
df_117['Name chronological'] = df_117['Name chronological'].str.replace("[","")
df_117['Name chronological'] = df_117['Name chronological'].str.replace("]","")
df_117['Name chronological'] = df_117['Name chronological'].str.replace("``","")
df_117['Name chronological'] = df_117['Name chronological'].str.replace(","," ")
df_117['Name chronological'] = df_117['Name chronological'].str.replace("  "," ")

/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/375816403.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_117['Name chronological'] = df_117['Name chronological'].str.replace("[","")
/var/folders/nw/6zd45hpx0jbc2jz04pft4wsh0000gn/T/ipykernel_50669/375816403.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_117['Name chronological'] = df_117['Name chronological'].str.replace("]","")

In [493]:
df_117['Names altered'][533] = ['mccormick', 'sheila', 'cherfilus']
df_117['Names altered'][101] = ['balart', 'mario', 'diaz']
df_117['Names altered'][260] = ['meeks', 'mariannette', 'miller']
df_117['Names altered'][282] = ['halleran', 'tom', 'o']
df_117['Names altered'][284] = ['cortez', 'alexandria', 'ocasio']
df_117['Names altered'][318] = ['allard', 'lucille', 'roybal']
df_117['Names altered'][438] = ['smith', 'cindy', 'hyde']
df_117['Names altered'][546] = ['colon', 'jenniffer', 'gonzalez']
df_117['Name chronological'][282] = "Tom O'Halleran"
df_117['Name chronological'][49] = 'George Kenneth Butterfield'
df_117['Name chronological'][554] = "President Joe Biden"
df_117['Name chronological'][555] = 'Donald Trump'
df_117['Name chronological'][557] = 'Bernie Sanders'

In [494]:
df_117.to_csv('congress117_condensed.csv', index=False)

In [495]:
a = list(df_117['CongressionalTwitter'])
b = list(df_117['Personal Twitter'])
c = list(df_117['PressOfficeTwitter'])
d = list(df_117['Campaign Twitter'])
e = list(df_117['RetiredTwitter'])

In [496]:
others = a+b+c+d+e
others = set(others)
my_codes = list(set(df_117['Twitter code']))
add_to_congress = list(set(my_codes) - set(others))
add_to_congress.pop(0)
congress = a + add_to_congress
CongressionalTwitter_list = list(set(congress))

In [497]:
Personal_Twitter_list = list(set(b))
PressOfficeTwitter_list = list(set(c))
Campaign_Twitter_list= list(set(d))
RetiredTwitter_list= list(set(e))

In [498]:
Party_ID = []
chamber = []
nominate_dim1 = []
Names_altered =[]
Twitter_code = []
Names_chronological = []
delegate =[] 
serving_at_time_of_tweet = []
independent = []
president = []

for i in range(len(df_117)):
    a = df_117['Party ID'][i]
    b = df_117['chamber'][i]
    c = df_117['nominate_dim1'][i]
    d = df_117['Names altered'][i]
    e = df_117['delegate'][i]
    f = df_117['serving at time of tweet'][i]   
    g = df_117['Name chronological'][i]    
    j = df_117['independent'][i]  
    k = df_117['president'][i]  
    r = j,j,j,j,j,j
    q = k,k,k,k,k,k
    t = g,g,g,g,g,g
    u = a,a,a,a,a,a
    v= b,b,b,b,b,b
    w= c,c,c,c,c,c
    x= d,d,d,d,d,d
    y= e,e,e,e,e,e
    z= f,f,f,f,f,f 
    delegate.append(y)
    serving_at_time_of_tweet.append(z)
    independent.append(r)
    president.append(q)
    Names_chronological.append(t)
    Party_ID.append(u)
    chamber.append(v)
    nominate_dim1.append(w)
    Names_altered.append(x)
    Twitter_code.append(df_117['Twitter code'][i])
    Twitter_code.append(df_117['Personal Twitter'][i] )                   
    Twitter_code.append(df_117['CongressionalTwitter'][i])
    Twitter_code.append(df_117['PressOfficeTwitter'][i])
    Twitter_code.append(df_117['Campaign Twitter'][i])
    Twitter_code.append(df_117['RetiredTwitter'][i])

Party_ID = [element for innerList in Party_ID for element in innerList]
chamber = [element for innerList in chamber for element in innerList]
nominate_dim1 =[element for innerList in nominate_dim1 for element in innerList]
Names_altered =[element for innerList in Names_altered for element in innerList]
delegate =[element for innerList in delegate for element in innerList]
serving_at_time_of_tweet =[element for innerList in serving_at_time_of_tweet for element in innerList]
Names_chronological = [element for innerList in Names_chronological for element in innerList]
independent = [element for innerList in independent for element in innerList]
president = [element for innerList in president for element in innerList]

In [499]:
df_expanded = pd.DataFrame(list(zip(Twitter_code,Party_ID,chamber,nominate_dim1,Names_altered,Names_chronological,delegate,serving_at_time_of_tweet,independent,president)),columns =['Twitter code', 'Party ID', 'chamber', 'nominate_dim1','Names altered', 'Name chronological','delegate','serving at time of tweet','independent','president'])
df_expanded_clean = df_expanded.loc[df_expanded['Twitter code'] != 'nan']
df_expanded_clean = df_expanded_clean.loc[df_expanded_clean.astype(str).drop_duplicates().index]
df_expanded_clean = df_expanded_clean.reset_index(drop=True)

In [500]:
df_expanded_clean['Personal Twitter_binary']  = 'False'         
df_expanded_clean['CongressionalTwitter_binary'] = 'False'
df_expanded_clean['PressOfficeTwitter_binary'] = 'False'
df_expanded_clean['Campaign Twitter_binary'] = 'False'
df_expanded_clean['RetiredTwitter_binary'] =  'False'
df_expanded_clean['original codes'] =  'False'

for i in range(len(df_expanded_clean)):
    a = df_expanded_clean['Twitter code'][i]
    if a in Personal_Twitter_list:
        df_expanded_clean['Personal Twitter_binary'][i] = 'True'    
    if a in CongressionalTwitter_list:
        df_expanded_clean['CongressionalTwitter_binary'][i] = 'True'
    if a in PressOfficeTwitter_list:
        df_expanded_clean['PressOfficeTwitter_binary'][i] = 'True'
    if a in Campaign_Twitter_list:
        df_expanded_clean['Campaign Twitter_binary'][i] = 'True'        
    if a in RetiredTwitter_list:
        df_expanded_clean['RetiredTwitter_binary'][i] = 'True'
    if a in my_codes:
        df_expanded_clean['original codes'][i] = 'True'

In [501]:
df_expanded_clean = df_expanded_clean.rename(columns={"Twitter code": "twitter code"})

In [502]:
df_expanded_clean.to_csv('all twitter profiles.csv', index=False)

In [503]:
#only alcee hastings that doesn't have a twitter account, and they died mid way through